.signupWrapper {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupContainer {
    width: 420px;
    height: 400px;
    border: 1px solid white;
    padding: 3%;
    background-color: #FFF;
    border-radius: 5%;
}

.centerJustifier {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .signupContainer {
        width: 100%;
        height: 400px;
        border: none;
        padding: 3%;
        background-color: #FFF;
        border-radius: 0;
    }

    .signupWrapper {
        align-items: initial
    }
}